{% extends 'main/layout_test.html' %}

{% block title %} Сторінка про нас {% endblock %}
{% block content %}

    <div class="features">
        <h1>About us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus blanditiis inventore minima necessitatibus voluptatem? Architecto dolores explicabo facilis fugit inventore iure minima necessitatibus nihil, saepe sunt tempore ullam, voluptatem. Harum.</p>
    <button class = "btn btn-warning"> На головну </button>
    </div>

{% endblock %}


