{% extends 'main/layout_test.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <div class="features">
        <h1> {{ title }} </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus blanditiis inventore minima necessitatibus voluptatem? Architecto dolores explicabo facilis fugit inventore iure minima necessitatibus nihil, saepe sunt tempore ullam, voluptatem. Harum.</p>
    <button class = "btn btn-warning"> На сторінку про нас </button>
    </div>
    <!-- {% include "main/test.html" %} -->
{% endblock %}
