{% extends 'main/layout_test.html' %}

{% block title %} Новини з сайту {% endblock %}

{% block content %}
    <div class="features">
        <h1>Новини цього чудового сайтику: </h1>

        {% if news %}
        {% for el in news %}
            <div class="alert alert_warning">
                <h3> {{ el.title }} </h3>
                <p> {{ el.announcement }} </p>
                <p> {{ el.date }} </p>
            </div>
        {% endfor %}
        {% else %}
        <p> Немає записів </p>
        {% endif %}
    </div>
{% endblock %}
